[Desktop Entry]
Name=ViGram Desktop
Comment=Desktop version of ViGram - ToS breaking Telegram client
TryExec=ayugram-desktop
Exec=env DESKTOPINTEGRATION=1 ayugram-desktop -- %u
Icon=ayugram
Terminal=false
StartupWMClass=ViGram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=ayugram-desktop -quit
Name=Quit ViGram
Icon=application-exit
